@import '@fontsource/jetbrains-mono/variable';
@import '@fontsource/lexend/variable';

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  backdrop-filter: blur(1em) saturate(200%);
  background-color: hsla(0, 0%, 3.9%, 0.4);
}

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --link: 271, 81%, 56%;
    --link-foreground: 267, 86%, 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-grid-pattern {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.02) 2px, transparent 2px);
  background-size: 69px 69px;

  background-attachment: fixed;
}




@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.animate-pulse-scale {
  animation: pulse-scale 2s infinite;
}
.hover\:animate-none:hover {
  animation: none;
}