---
import Footer from '@/components/Footer';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Schedule from '../components/Schedule';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <title>{SITE_TITLE}</title>
    <style>
      @keyframes pulse-scale {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .animate-pulse-scale {
        animation: pulse-scale 2s infinite;
      }
      .hover\:animate-none:hover {
        animation: none;
      }
    </style>
  </head>

  <body class="text-white">
    <Header client:visible />
    
    <!-- Hero Section -->
    <section class="bg-grid-pattern h-[85vh] flex flex-col justify-center items-center text-center px-4">
      <div class="max-w-3xl w-full">


        <img
          src="cc.png"
          alt="Logo Curso Ciência da Computação"
          class="mx-auto w-32 sm:w-48 "
        />

            <span class="block text-sm sm:text-xl text-primary font-light mt-4 text-zinc-400">
           20 a 24 de Janeiro de 2025
          </span>
        <h1 class="text-2xl sm:text-4xl font-bold text-primary mb-8">
          <span >
            Semana Acadêmica do Curso <br>
            de Ciência da Computação IFFar-FW
          </span>
        </h1>
        
        <div class="flex justify-center mb-8">
          <a
            href="/sobre"
            class="bg-white text-black py-2 px-4 rounded-full animate-pulse-scale hover:animate-none hover:bg-zinc-900 hover:text-white transition-all duration-200 text-lg"
          >
            Saiba Mais
          </a>
        </div>
      </div>
    </section>

    <!-- Cronograma Section -->
    <section class="bg-background" id="cronograma">
      <main class="mt-12 prose dark:prose-invert prose-neutral sm:prose-sm lg:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto">
        <Schedule />
      </main>
    </section>

    <Footer />
  </body>
</html>
